name: Deploy to GCP VM
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: easedigital/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.GCP_SSH_KEY }}
          ARGS: "-rlgoDzvc -i --delete"
          REMOTE_HOST: ${{ secrets.GCP_IP }}
          REMOTE_USER: mohammedrayaanpasha
          TARGET: "/home/mohammedrayaanpasha/friends/Friends_Distributed_Simulation"
          SCRIPT_AFTER: "bash /home/mohammedrayaanpasha/deploy.sh"